* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #fffffffb;
    min-height: 100vh;
}

header .logo-1{
    background-image: url("./img/09-1024x479.png");
    min-width: 100vh;
    min-height: 40vh;
}

/* topo area assinante*/

header button{
    position: absolute;
    right: 50px;
    top: 20px;
    border-radius: 10px;
    width: 180px;
    height: 30px;
    color: #07080a;
    border: none;
    text-decoration: none;
    background: #faf7f7;
}

header .topo{
    background: #f57b34;
    height: 70px;
}

div{
    top:40px;
    left: auto;
}

div .topo-1{
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
}

div .topo-2{
    text-transform: uppercase;
    color: #fefeff;
    font-size: 13px;
    text-decoration: none;
}

div .topo-3{
    text-decoration: none;
}

/* menu-logo */

header .logo {
    width: 170px;
    margin-left: 50px;
    margin-top: 10px;
}

nav {
    position: absolute;
    top: 90px;
    right: 50px;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;    
}

nav a {
    text-transform: uppercase;
    color: #f1ecec;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}


/* corpo site */

.plano{
    text-align: center;
    margin-top: 40px;
}

.plano h2{
    font-size: 30px;
    color: #6e6e6e;
    font-weight: 300;
}

.plano h1{
    font-size: 50px;
    color: #6e6e6e;
}

.plano p {
    margin-top: 20px;
    font-weight: 300;
}

.plano-1{
    text-align: center;
    margin-top: 40px;
}

.fibra{
    align-items: center;
}

/* fibra */

section.fibra{
    padding: 30px 14%;
    background: #f57b34;
}

section.fibra .flex{
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    display: flex;
    gap: 100px;
}

.fibra h1{
    color: #fff;
    font-size: 25px;
    line-height: 40px;
    font-weight: 200;
}

.fibra h2{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.fibra .txt-fibra p{
    color: #fff;
    margin: 30px 0;
    text-align: justify;
    width: 500px;
}

.fibra .img-fibra img{
    position: relative;
}

/* duvida */

.duvida{
    text-align: center;
}

/* final site*/
footer{
    text-align: center;
    background-color: #f57b34;
    color: #faf7f7;
}

footer a{
    text-decoration: none;
    color: #faf7f7;
}
